.wrapper {border: 22px solid #3a4965;
width: max-content;
text-transform: uppercase;
background-color: white;
text-align: center;
font-family: sans-serif;
border-collapse: collapse;}
th, td {border: 1px solid #c4c2c2;
    }
.table-title-start {font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #484848;
margin: 0;}
.table-title-end {font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #484848;
margin: 0;
padding-left: 35px;
padding-right: 35px;}
.standard {font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
background-color: #89c331;
padding: 27px 61px 18px;}
.ultimate {font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #fff;
background-color: #f04a56;
padding: 24px 54px 21px;}
.premium {font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
background-color: #20807c;
padding: 27px 68px 18px;}
.plan-price {font-weight: 700;
    font-size: 60px;
    line-height: 47%;
    color: #484848;
padding: 35px 8px 10px 33px;}
.cent {font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #484848;
position:relative;
bottom: 35px;}
.term {font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        color: #484848;
    position: relative;
right: 25px;
bottom: 12px;}
.plan-category-icon {margin-right: 4px;}
.tbody-wrapper {background-color: #e3e3e3;
height: 432px;}
.tr-bg {background-color: #f2f2f2;}
.tfoot-wrapper {height: 109px;}
.tfoot-link {text-decoration: none;
    display: inline-block;
        font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
border-radius: 0 0 5px 5px;
}
.tfoot-link-bg1 {padding: 20px 45px 9px;
    background-color: #484848;
border-bottom: 9px solid #404040;
}
.tfoot-link-bg2 {padding: 17px 57px 9px;
    background-color: #89c331;
border-bottom: 9px solid #79b027;
}
.tfoot-link-bg3 {padding: 18px 58px 9px;
    background-color:#f04a56;
border-bottom: 9px solid #df3a46;
}
.tfoot-link-bg4 {padding: 18px 58px 9px;
    background-color: #20807c;
border-bottom: 9px solid #16736f;
}
.tfoot-td-bg1 {background-color: #ddd;}
.tfoot-td-bg2 {background-color: #eee;}