body 
{background-color: #3a4965;}
.wrapper {background-color: #fff;
margin-top: 27px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: sans-serif;
border-collapse: collapse;
text-transform: uppercase;}
th, td {border: 1px solid #c4c2c2;}
th {min-width: 160px;}
td {font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #484848;}
.thead-wrapper {border-bottom: 14px solid #3a4965;}
.table-title-start {font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    color: #484848;
margin: 0;
padding-top: 25px;}
    .table-title-end {font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #484848;
    margin: 0 15px 30px;}
.plan-category-icon {display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 13px;}
.plan-category {font-weight: 700;
    font-size: 20px;
    color: #484848;}
.bg-col {background-color: #e3e3e3;}
.standard {background-color: #89c331;
color: white;
width: 201px;}
.ultimate {background-color: #f04a56;
color: white;}
.premium {background-color: #20807c;
color: white;}
.plan-name {font-weight: 700;
    font-size: 24px;
    line-height: 117%;
margin: 0;
padding-top: 23px;}
.plan-price {font-weight: 700;
    font-size: 36px;
    line-height: 78%;}
.cent {font-weight: 700;
    font-size: 18px;
    line-height: 156%;}
.term {font-weight: 700;
    font-size: 14px;
    line-height: 200%;}
.plan-link {text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
border-radius: 0 0 5px 5px; 
padding: 8px 35px 3px;
    background-color: #484848;
border-bottom: 5px solid #404040;
margin-top: 10px;
margin-bottom: 20px;}
